<!--Created by Nicole J. Nobles on 11/16/2016.
--><h2>About Page</h2>
<span> {{ ourvariable }} </span>
<form action="about.html" method="POST">
    {% csrf_token %}
    <input name="dumb" value="dumb-value" type="text"/>
    <input name="submit" value="Send POST" type="submit"/>
</form>

<form action="about.html" method="GET">
    {% csrf_token %}
    <input name="dumb" value="dumb-value" type="text"/>
    <input name="submit" value="Send GET" type="submit"/>
</form>

<input id="clicky" value="jquery request" type="button"/>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <script>
  $('#clicky').on("click",function(){
      console.log('clicked thingy');
        $.ajax({
            url:'about.html',
            data:{'dumb':'jquery'},
            error: function() {
                alert('omg 404');
            },
            success: function(data) {
                alert('success');
            },
            type: 'GET'
        });
    });
    </script>
